{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/patients-list/">Список пациентов</a>
		</li>
		<li>
			<a href="/create-patient/">Создать пациента</a>
		</li>
	</div>
    <h1>Запись пациента на приём</h1>
    <form method="post">
        <select size="3" name="clinic_name">
            {% for item in clinics %}
                <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <select size="3" name="patient_name">
            {% for item in patients %}
                <option value="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Записать</button>
    </form>
{% endblock %}